.student_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    margin: auto;
    margin-top: 5vw;
    background-color: white;
    box-shadow: 0px 0px 10px 5px grey;
}

.black-button {
    min-height: 6vh;
    width: 20vw;
    max-width: 150px;
    font-size: larger;
    box-shadow: 0px;
    background-color: rgb(243, 70, 83);
    color: white;
    border-radius: 0px;
}
.student_login_form > form > label > input {
    border: none;
    padding: 1vw;
    width: 40%;
    background-color: whitesmoke;
}